<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>baoph.listener.ContextServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DispatchController</servlet-name>
        <servlet-class>baoph.servlet.DispatchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstTimeServlet</servlet-name>
        <servlet-class>baoph.servlet.FirstTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>baoph.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPostServlet</servlet-name>
        <servlet-class>baoph.servlet.ViewPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMyPostsServlet</servlet-name>
        <servlet-class>baoph.servlet.GetMyPostsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateArticleServlet</servlet-name>
        <servlet-class>baoph.servlet.CreateArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCommentServlet</servlet-name>
        <servlet-class>baoph.servlet.GetCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCommentServlet</servlet-name>
        <servlet-class>baoph.servlet.CreateCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>baoph.servlet.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>baoph.servlet.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmotionServlet</servlet-name>
        <servlet-class>baoph.servlet.GetEmotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEmotionServlet</servlet-name>
        <servlet-class>baoph.servlet.CreateEmotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowNotificationServlet</servlet-name>
        <servlet-class>baoph.servlet.ShowNotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CodeHandlerServlet</servlet-name>
        <servlet-class>baoph.servlet.CodeHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>baoph.servlet.VerifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchController</servlet-name>
        <url-pattern>/DispatchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstTimeServlet</servlet-name>
        <url-pattern>/FirstTimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPostServlet</servlet-name>
        <url-pattern>/ViewPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMyPostsServlet</servlet-name>
        <url-pattern>/GetMyPostsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateArticleServlet</servlet-name>
        <url-pattern>/CreateArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCommentServlet</servlet-name>
        <url-pattern>/GetCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCommentServlet</servlet-name>
        <url-pattern>/CreateCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/DeletePostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/DeleteCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmotionServlet</servlet-name>
        <url-pattern>/GetEmotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEmotionServlet</servlet-name>
        <url-pattern>/CreateEmotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowNotificationServlet</servlet-name>
        <url-pattern>/ShowNotificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CodeHandlerServlet</servlet-name>
        <url-pattern>/CodeHandlerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchController</welcome-file>
    </welcome-file-list>
</web-app>
